<div class="panel panel-default">
    <div class="panel-heading">
        Customer Information
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="customerForm" novalidate>
            <fieldset>
                <legend>Basic Customer Information</legend>
                <div class="form-group"
                     ng-class="{'has-error': customerForm.inputName.$invalid &&
                                             customerForm.inputName.$touched}">
                    <label class="col-md-2 control-label" for="inputName">Name</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputName"
                               name="inputName"
                               type="text"
                               placeholder="Name (required)"
                               ng-model="vm.customer.name"
                               required
                               ng-minlength="3"
                               ng-maxlength="12">
                    </div>
                    <span class="help-block has-error">
                        <span ng-show="customerForm.inputName.$error.required &&
                                             customerForm.inputName.$touched">
                            Customer name is required
                        </span>
                        <span ng-show="customerForm.inputName.$error.minlength &&
                                             customerForm.inputName.$touched">
                            Customer name must be at least 3 characters in length.
                        </span>
                        <span ng-show="customerForm.inputName.$error.maxlength &&
                                             customerForm.inputName.$touched">
                            Customer name cannot exceed 12 characters in length.
                        </span>
                    </span>
                </div>
                <!--Email-->
                <div class="form-group"
                     ng-class="{'has-error': customerForm.inputEmail.$invalid &&
                                             customerForm.inputEmail.$touched}">
                    <label class="col-md-2 control-label" for="inputName">Email</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputEmail"
                               name="inputEmail"
                               type="email"
                               placeholder="Email (required)"
                               ng-model="vm.customer.email"
                               required>
                    </div>
                    <span class="help-block has-error">
                        <span ng-show="customerForm.inputEmail.$error.required &&
                                             customerForm.inputEmail.$touched">
                            Customer email is required
                        </span>
                    </span>
                </div>
                <!--Telephone-->
                <div class="form-group"
                     ng-class="{'has-error': customerForm.inputTelephone.$invalid &&
                                             customerForm.inputTelephone.$touched}">
                    <label class="col-md-2 control-label" for="inputTelephone">Telephone</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputTelephone"
                               name="inputTelephone"
                               ui-mask="(999)-999-9999"
                               ng-model="vm.customer.tel"
                               required>
                    </div>
                    <span class="help-block has-error">
                        <span ng-show="customerForm.inputTelephone.$error.required &&
                                             customerForm.inputTelephone.$touched">
                            Customer Telephone is required
                        </span>
                    </span>
                </div>
            </fieldset>
            <!-- Address -->
            <fieldset>
                <legend>Address</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="inputStreet">Street</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputStreet"
                               name="inputStreet"
                               type="text"
                               placeholder="Street"
                               ng-model="vm.customer.address.street">
                    </div>
                </div>
                <!-- City -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="inputCity">City</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputCity"
                               name="inputCity"
                               type="text"
                               placeholder="City"
                               ng-model="vm.customer.address.city">
                    </div>
                </div>
                <!-- State -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="inputState">State</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputState"
                               name="inputState"
                               type="text"
                               placeholder="State"
                               ng-model="vm.customer.address.state">
                    </div>
                </div>
                <!-- ZipCode -->
                <div class="form-group"
                     ng-class="{'has-error': customerForm.inputZipCode.$invalid &&
                                             customerForm.inputZipCode.$touched}">
                    <label class="col-md-2 control-label" for="inputZipCode">ZipCode</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputZipCode"
                               name="inputZipCode"
                               type="text"
                               placeholder="ZipCode"
                               ng-model="vm.customer.address.zipcode"
                               ng-pattern="/^\d{5}(-\d{4})?$/">
                    </div>
                    <span class="help-block has-error">
                        <span ng-show="customerForm.inputZipCode.$error.pattern &&
                                             customerForm.inputZipCode.$touched">
                            Must be US format zip code (e.g., "94105-0011" or "94105")
                        </span>
                    </span>
                </div>
                <!-- Button Group -->
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                    <span>
                        <button class="btn btn-success"
                                style="width: 80px; margin-right: 10px"
                                ng-click="vm.submit()"
                                ng-disabled="customerForm.$invalid">
                            Save
                        </button>
                    </span>
                        <span>
                        <button class="btn btn-default"
                                style="width: 80px"
                                ng-click="vm.cancel()">
                            Cancel
                        </button>
                    </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
